---
layout: default
---

<section class="hero is-light is-bold">
  <div class="hero-body p-t-sm">
    <div class="container has-text-centered">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul style="margin-left: 0">
          <li><a href="/"><i class="fas fa-home"></i></a></li>
          <li class="is-active"><a href="#" aria-current="page">{{ page.title | escape }}</a></li>
        </ul>
      </nav>
      <h2 class="title">
          {{ page.title | escape }}
      </h2>
      <h3 class="subtitle  p-t-xs">
          お問い合わせはこちらのフォームから
      </h3>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    
        <form name="contact" netlify-honeypot="bot-field" action="thank-you" netlify>
            <div class="field">
                <label class="label">Name</label>
                <p class="help m-b-xs">お名前をご記入ください。</p>
                <div class="control">
                    <input class="input" name="name" type="text" placeholder="">
                </div>
            </div>

            <div class="field">
                <label class="label">Email</label>
                <p class="help m-b-xs">メールアドレスをご記入ください。</p>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="email" placeholder="" value="">
                    <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                    <i class="fas fa-exclamation-triangle"></i>
                    </span>
                </div>
            </div>
            
            <div class="field">
                <label class="label">Subject</label>
                <div class="control">
                    <div class="select">
                    <select>
                        <option>ブログについて</option>
                        <option>IT技術やビジネス相談</option>
                        <option>その他</option>
                    </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Message</label>
                <p class="help m-b-xs">お問い合わせ内容の詳細をご記入ください。</p>
                <div class="control">
                    <textarea class="textarea" placeholder=""></textarea>
                </div>
            </div>

            <div class="field is-grouped is-grouped-centered">
                <p class="control">
                    <a class="button is-primary">
                    Submit
                    </a>
                </p>
                <p class="control">
                    <a class="button is-light">
                    Cancel
                    </a>
                </p>
            </div>

        </form>

  </div>
</section>