---
layout: default
---

<section class="hero is-light is-bold">
  <div class="hero-body p-t-sm">
    <div class="container has-text-centered">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul style="margin-left: 0">
          <li><a href="/"><i class="fas fa-home"></i></a></li>
          <li class="is-active"><a href="#" aria-current="page">{{ page.title | escape }}</a></li>
        </ul>
      </nav>
      <nav>
        <div class="level-item has-text-centered">
          <figure class="image is-96x96 is-circle">
              <img src="{{ site.profile_image }}">
          </figure>
        </div>
      </nav>

      <h1 class="title">
          {{ site.author | escape }}
      </h1>
      <h2 class="subtitle  p-t-xs">
          {{ site.title | escape }}
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <p>
        {{ site.description }}
    </p>

    <article class="post">
      <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
      </header>

      <div class="post-content">
        {{ content }}
      </div>
    </article>
  </div>
</section>