---
layout: default
---
<article class="post h-entry" itemscope>
  <section class="hero post-hero is-light is-bold" style="background-image: url({{ page.thumbnail }});">
    <div class="hero-body post-hero__body p-t-sm p-b-md">
      <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul style="margin-left: 0">
            <li><a href="/"><i class="fas fa-home"></i></a></li>
            <li><a href="{{ "/categories/" | append: page.categories[0] | prepend: site.baseurl }}" aria-current="page">{{ page.categories[0] | escape }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">{{ page.title | escape }}</a></li>
          </ul>
        </nav>
        <p class="post-meta">
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <i class="fas fa-clock"></i>
            {{ page.date | date: date_format }}
          </time>
        </p>
        <h1 class="title post-hero__body__title" itemprop="name headline">{{ page.title | escape }}</h1>
        <h2 class="m-b-md" itemprop="name headline">{{ page.description | escape }}</h2>
        {% if page.author or site.author or page.location %}
          <p class="post-meta">
            {% if page.author or site.author %}
              <span itemprop="author" itemscope>
                <span class="p-author h-card" itemprop="name">
                  <i class="fas fa-user"></i>
                  {% if page.author %}
                    {{ page.author }}
                  {% else if site.author %}
                    {{ site.author }}
                  {% endif %}
                </span>
              </span>
            {% endif %}
            {% if page.location %}
              &nbsp; <span itemprop="location" itemscope>
                <span class="p-author h-card" itemprop="name">
                  <i class="fas fa-map-marker-alt"></i>
                  {{ page.location }}
                </span>
              </span>
            {% endif %}
          </p>
        {% endif %}
        <div class="columns">
          {% if page.tags %}
            <div class="column">
                {% for tag in page.tags %}
                  {% assign tag_name = tag | replace: " ", "_" %}
                  <a href="{{ '/tags/' | append: tag_name | relative_url }}" class="tag is-link">
                    {{ tag }}
                  </a>
                {% endfor %}
            </div>
          {% endif %}
          <div class="column has-text-right-desktop">
            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter" class="button is-social is-twitter is-circle">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://facebook.com/sharer.php?u={{ page.url | absolute_url }}" rel="nofollow" target="_blank" title="Share on Facebook" class="button is-social is-facebook is-circle">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://plus.google.com/share?url={{ page.url | absolute_url }}" rel="nofollow" target="_blank" title="Share on Google+" class="button is-social is-google-plus is-circle">
              <i class="fab fa-google-plus-g"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
        <div class="columns">
          <div class="column is-two-thirds">
            <div class="content">
              {{ content }}
            </div>
            <nav class="pagination is-centered is-rounded is-small" role="navigation" aria-label="pagination">
              <a href="{% if page.previous.url %}{{page.previous.url}}{% else %}javascript:void(0);{% endif %}" class="pagination-previous"{% unless page.previous.url %} disabled{% endunless %}>
                <i class="fas fa-angle-left"></i>{% if page.previous.url %}<span class="is-hidden-touch"> &nbsp;{{page.previous.title}}</span>{% endif %}
              </a>
              <a href="{% if page.next.url %}{{page.next.url}}{% else %}javascript:void(0);{% endif %}" class="pagination-next"{% unless page.next.url %} disabled{% endunless %}>
                {% if page.next.url %}<span class="is-hidden-touch">{{page.next.title}} &nbsp;</span>{% endif %}<i class="fas fa-angle-right"></i>
              </a>
            </nav>
          </div>
          <div class="column">
              {% include month_archive_links.html %}
          </div>
        </div>
  
        {% if site.disqus.shortname %}
          {% include disqus_comments.html %}
        {% endif %}

        <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
    </div>
  </section>

  <section class="section">
      <div class="container">
          {% include related_posts.html %}
      </div>
  </section>
</article>
